#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.bg {
  background-Image: "url('./images/artaud.jpg')";
  background-Repeat: "no-repeat";
  background-Attachment: "fixed";
  background-Size: "cover";
  height: "100vmin";
  width: "100%"
}

.blogHeader {
  background: "gray";
  border: "2px solid black";
  display: "flex";
  align-Items: "center";
  width: "100%";
  height: "10%";
  opacity: "0.9"
}

.blogCard {
  background: "white";
  border: "2px solid black";
  position: "absolute";
  top: "50%";
  left: "50%";
  transform: "translate(-50%; -50%)";
  width: "70%";
  height: "60vmin";
  opacity: "0.7"
}

.blogTitle {
  text-Align: "center"
}

.nextButton {
  background-Color: "gray";
  opacity: "0.95";
  position: "absolute";
  bottom: "1vmin";
  right: "3vmin";
  cursor: "pointer"
}

prevButton {
  background-Color: "gray";
  opacity: "0.95";
  position: "absolute";
  bottom: "1vmin";
  left: "3vmin";
  cursor: "pointer"
}

idIndicator {
  position: "absolute";
  bottom: "1px";
  left: "50%";
  transform: "translate(-50%; 0%)"
}